{{ define "footer" }}
    <script src="static/components/jquery/dist/jquery.min.js"></script>
    <script src="static/components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
{{ end }}
