{{ define "footer" }}
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/highlightjs/highlight.pack.min.js"></script>
    <script src="js/json.min.js"></script>
    <!-- <script src="components/sjcl/sjcl.js"></script>-->
    <script src="js/priggr.js"></script>
  </body>
</html>
{{ end }}
